/* Reset básico */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.header {
    padding: 3rem 0;
    text-align: center;
}

.header .title {
    font-size: 2rem;
    font-weight: bold;
    color: #198754;
    text-decoration: none; /* Remover sublinhado do texto */
    transition: color 0.3s ease; /* Transição suave para a cor do texto */
}

.header .title:hover {
    color: #0d6efd;
    cursor: pointer; /* Mudar o cursor para indicar que é clicável */
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 10px 20px; /* Ajuste de espaçamento interno da navbar */
    background-color: #f8f9fa !important; /* Cor de fundo para a navbar */
}

.navbar a {
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease; /* Transição suave para a cor do texto */
    color: #0d6efd; /* Cor inicial dos links em azul */
}

.navbar a:hover {
    color: #6c757d; /* Cor dos links ao passar o mouse em cinza */
}

@media (min-width: 768px) {
    .navbar {
        justify-content: flex-end;
    }
}

.active {
    background-color: #04aa6d; /* Cor de fundo para indicar que o link está ativo */
    color: #fff; /* Cor do texto quando o link está ativo */
}

.navbar a:hover.active {
    background-color: #6c757d; /* Cor de fundo ao passar o mouse em cinza */
    color: #fff; /* Cor do texto ao passar o mouse */
}

/* Override Bootstrap container to be full-width */
.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

/* Estilos para o texto dxMed */
span.title {
    font-size: 30px; /* Aumentando o tamanho da fonte para dxMed */
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.3s ease;
}

span.title:hover {
    color: #6c757d; /* Cor cinza ao passar o mouse */
}

/* Estilo para os botões dropdown */
.dropdown-buttons {
    display: flex;
    justify-content: flex-start;
    padding-left: 30px; /* Espaçamento à esquerda da tela */
}

.dropdown-buttons .dropdown {
    margin-right: 20px; /* Adiciona espaçamento entre os dropdowns */
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

/* Estilo para a barra de pesquisa */
.dropdown-menu input.form-control {
    margin-bottom: 10px; /* Espaçamento inferior */
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px; /* Borda arredondada */
    background: #f1f1f1;
    width: calc(100% - 16px); /* Ajusta para o tamanho correto */
    box-shadow: none;
    text-align: center; /* Centraliza o texto */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Transição suave */
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
}

/* Estilo para o contorno da barra de pesquisa quando focada */
.dropdown-menu input.form-control:focus {
    border-color: #0d6efd; /* Cor do contorno ao focar */
    outline: 0; /* Remove a borda do navegador */
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); /* Sombra ao focar, semelhante ao Bootstrap */
}

/* Estilo para os itens do dropdown */
.dropdown-menu .dropdown-item {
    padding: 8px 16px;
    font-size: 14px;
    color: #495057;
}

/* Estilo para o texto dentro do dropdown */
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: #e9ecef;
}

/* Estilo para os itens selecionados */
.selected-item {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px; /* Espaçamento à esquerda para separação */
    color: #198754;
}

/* Estilo para o contêiner de itens selecionados */
.selected-items {
    margin-top: 5px; /* Espaçamento superior */
}

/* Estilo para os itens selecionados (especialidade e patologia) */
.selected-especialidade,
.selected-patologia {
    display: block;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}

.clinical-history-title {
    font-size: 18px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    color: #333; /* Cor cinza escuro */
    margin: 10px 0; /* Margens acima e abaixo */
    text-align: center; /* Centraliza o texto */
    text-transform: uppercase; /* Texto em caixa alta */
}


.card-body {
    padding: 20px; /* Ajuste para espaçamento geral */
}

/* Adicionado padding a partir de uma única declaração */
.card-body {
    padding-left: 30px; /* Alinha as checkboxes com o botão de especialidade */
}

.mb-3 {
    margin-bottom: 1rem; /* Espaçamento inferior das perguntas */
}

.dropdown-custom {
    width: 200px; /* Altere este valor para definir a largura desejada */
}

.reduce-spacing {
    margin: 0; /* Remove o espaçamento superior e inferior */
    padding: 0; /* Remove o preenchimento */
}


.question-title {
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    color: #777; /* Cor cinza */
    margin: 20px 0 10px 0; /* Margens acima e abaixo */
    border-bottom: 2px solid #007bff; /* Linha de separação */
    text-transform: uppercase; /* Texto em caixa alta */
}

.sub-question-title {
    font-size: 14px; /* Tamanho da fonte menor */
    font-weight: bold; /* Negrito */
    color: #777; /* Cor cinza mais clara */
    margin: 15px 0 5px 0; /* Margens acima e abaixo */
    text-transform: uppercase; /* Texto em caixa alta */
}

